:root {
    font-size: 20px;
    font-family: "Roboto Serif", sans-serif;
    --text-primary: #000000;
    --text-secondary: #A27B5C;
    --bg-primary: #3F4E4F;
    --bg-secondary: #2C3639;
    --transition-speed: 600ms;
    background: #DCD7C9;
}


/* Playing with some color palettes:
Coffee:
    --text-primary: rgb(85, 84, 84);
    --text-secondary: black;
    --bg-primary: #D8CCA3;
    --bg-secondary: #B09B71;

*/

body {
    margin: 0;
    padding: 0;
}


/* Scrollbar */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}


/* Navigation bar */

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
}

.navbar-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-li {
    width: 100%;
}

.navbar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed) ease;
}

.navbar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.navbar-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}


/* Colors */

.fa-primary {
    color: #D8CCA3;
}

.fa-secondary {
    color: #B09B71;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}


/* Dealing with various screen sizes */

@media only screen and (min-width: 760px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar,
    .navbar:hover {
        transition: var(--transition-speed) ease;
    }
    .navbar:hover .link-text {
        display: block;
    }
    .navbar-li {
        margin-top: 2rem;
    }
    .navbar-li:last-child {
        margin-top: auto;
    }
}

@media only screen and (max-width:760px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .navbar-ul {
        flex-direction: row;
    }
    .navbar-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
}